@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root{
    --primary-color: #047aed;
    --secondary-color: #ffffff;
    --dark-color: #002240;
    --light-color: #f4f4f4;
    --success-color: #5cb85c;
    --error-color: #d9534f;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Lato',sans-serif;
    color: #333;
    line-height: 1.6;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

h1, h2{
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

h3, h4{
    font-weight: 300;
    line-height: 1.2;
    margin: 5px 0;
}

p{
    margin: 10px 0;
}

img{
    width: 100%;
}

code,
pre{
  background: #333;
  color: #fff;
  padding: 10px;
}

.hidden{
  visibility: hidden;
  height: 0;
}

/* Navbar styles*/
.navbar{
    background-color: var(--primary-color);
    color: #ffffff;
    height: 100px;
    z-index: 100;
}

.navbar ul{
    display: flex;
}

.navbar a{
    color: #ffffff;
    font-size: x-large;
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover{
    border-bottom: 2px #ffffff solid;
}

.navbar .flex{
    justify-content: space-between;
}
/* Showcase */
.showcase{
    height: 400px;
    color: #ffffff;
    position: relative;
}

.showcase h1{
    font-size: 40px;
}

.showcase p{
    margin-bottom: 20px;
}

.showcase-picture{
    position: relative;
    z-index: 100;
}

.showcase img{
    background-color: var(--primary-color);
    border-radius: 50%;
    box-shadow: 5px 10px 30px rgba(0,0,0,0.3);
}

.showcase .grid{
    overflow: visible;
    grid-template-columns: 55% 45%;
    gap: 30px;
}

.showcase::before,
.showcase::after{
    content: '';
    position: absolute;
    height: 120px;
    bottom: -70px;
    right: 0;
    left: 0;
    background: #ffffff;
    transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
    z-index: 1;
}

/* Education */
.education{
    padding-top: 100px;
    padding-bottom: 50px;
    position: relative;
}

.education::after{
    content: '';
    position: absolute;
    height: 120px;
    bottom: -70px;
    right: 0;
    left: 0;
    background: #ffffff;
    transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
    z-index: 1;
}

.edu-content{
    display: flex;
    text-align: middle;
}


/* Technologies */
.tech{
    padding-top: 100px;
    padding-bottom: 50px;
    position: relative;
}

.tech .flex{
    flex-wrap: wrap;
}

.tech .card{
    text-align: center;
    margin: 18px 10px 40px;
    transition: transform 0.2s ease-in;
}

.tech .card h4{
    font-size: 20px;
    margin-bottom: 10px;
}

.tech-logo{
    height: 100px;
    width: 100px;
}

.tech .card:hover{
    transform: translateY(-15px);
}

.tech::after{
    content: '';
    position: absolute;
    height: 120px;
    bottom: -70px;
    right: 0;
    left: 0;
    background: var(--primary-color);
    transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
    z-index: 1;
}

.work{
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
}

.work::after{
    content: '';
    position: absolute;
    height: 120px;
    bottom: -70px;
    right: 0;
    left: 0;
    background: #ffffff;
    transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
    z-index: 1;
}

.hobbies{
    padding-top: 100px;
    padding-bottom: 50px;
}

.hobby-content{
    overflow: visible;
}

.hobby-image{
    height: 300px;
    width: 300px;
    border-radius: 20%;
    box-shadow: 5px 10px 30px rgba(0,0,0,0.3);
    justify-self: center;
}

/***************************************************
Portfolio Section
**************************************************/
.portfolio-head{
    position: relative;
    padding-bottom: 10px;
}

.portfolio-head .container{
    position: relative;
    z-index: 100;
}

.portfolio-head::after{
    content: '';
    position: absolute;
    height: 120px;
    bottom: -70px;
    right: 0;
    left: 0;
    background: var(--primary-color);
    transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
    z-index: 1;
}


.portfolio{
    padding-top: 100px;
}

.portfolio-content{
    overflow: visible;
}

.portfolio-image{
    max-height: 400px;
    max-width: 400px;
    border-radius: 20%;
    justify-self: center;
    z-index: 100;
}

.portfolio-image img{
    border-radius: 20%;
    box-shadow: 5px 10px 30px rgba(0,0,0,0.3);
    justify-self: center;
}

.portfolio .grid{
    grid-template-columns: 30% 70%;
    gap: 30px;
}


/* Tablets and under */
@media(max-width: 768px){
    .grid,
    .showcase .grid,
    .hobbies .grid,
    .portfolio .grid{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .showcase{
        height: auto;
    }

    .showcase-text{
        text-align: center;
        margin-top: 40px;
    }

    .edu-content i{
        display: none;
    }

    .portfolio{
        padding-top: 0px;
    }
}


/* Mobile */
@media(max-width: 500px){
    .navbar{
        height: 110px;
    }

    .navbar .flex{
        flex-direction: column;
    }

    .navbar ul{
        padding: 10px;
        background-color: rgba(0,0,0,0.1);
    }
}
